//Vars：
//${namespace}
//${entity}
//${properties}
using Abp.AutoMapper;
using System;
using System.Collections.Generic;
using System.ComponentModel.DataAnnotations;
using System.Text;

namespace ${namespace}
{
    [AutoMap(typeof(${entity}))]
    public class ${entity}EditDto
    {
        public Guid? Id { get; set; }

        ${properties}
    }
}
